.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper {
  margin: 10px;
  width: 100%;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}

.articles a {
  text-decoration: none;
  width: 100%;
  display: block;
}

.articles img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 5px;
}

.title {
  margin-top: 20px;
  text-align: center;
}

.deleteButton {
  width: 100%;
  border-radius: 5px;
  background-color: #352034bf;
  border: none;
  color: white;
  height: 35px;
  margin-top: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.deleteButton:hover {
  background-color: #5a2d57;
}

/* ریسپانسیو موبایل */
@media (max-width: 768px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .articles {
    grid-template-columns: 1fr;
  }
}
